---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="Dustin Hofmann | Informatik Student aus Dortmund"
  description="Dualer Informatikstudent aus Dortmund"
>
  <div class="container">
    <div class="hero">
      <h2 class="hero__title">Hey, I'm Dustin <span role="img" aria-label="wave">👋</span></h2>
      <h1 class="hero__text">Dualer Informatikstudent aus Dortmund</h1>
    </div>
  </div>
</Layout>
